html, body{
  background-color: black;
}
#rowcontainer{
  background-color: black;
  width: 170px;
  height: 200px;
  margin: auto;
  margin-top: 5px;
  padding: 2px;
}
.block{
  width: 8px;
  height: 8px;
  float : left;
  background-color: white;
}
.unplayable{
  width: 8px;
  height: 8px;
  float : left;
  background-color: black;
}
.player{
  width: 8px;
  height: 8px;
  float : left;
  background-color: blue;
}
.enemy{
  width: 8px;
  height: 8px;
  float : left;
  background-color: red;
}
.boss{
  width: 8px;
  height: 8px;
  float : left;
  background-color: orange;
}
.nextlvl{
  width: 8px;
  height: 8px;
  float : left;
  background-color: purple;
}
.health{
  width: 8px;
  height: 8px;
  float : left;
  background-color: green;
}
.weapon{
  width: 8px;
  height: 8px;
  float : left;
  background-color: yellow;
}
.statusbar{
  background-color: white;
  width: 10%;
}
.statusbar{
  float:left;
}
.healthstatus,itemstatus,dungeonstatus,levelstatus,xpstatus{
  
}