html, body{
  background : #111;
  padding-top : 10vh;
  padding-bottom : 15vh;
  width : 100%;
  font-size : 8vh;
}
.container{
  margin:auto;
  padding: 5vh;
  border-radius: 10px;
  width:73vh;
  height : 100vh;
  background : #708090;
}
.button{
  width: 14vh;
  height : 15vh;
  margin-bottom : 1vh;
  border-radius : 5px;
  cursor: pointer;
}
#output1{
  background : #;
  width : 62vh;
  height : 15vh;
  border-radius: 2vh;
}
#output2{
  background : #fff;
  width : 62vh;
  height : 15vh;
  border-radius: 2vh;
}